# TUGAS INDIVIDU
Nama: Ummul Qura
NIM : H071201017
Kelas : Teknologi Basis Data A

In [1]:
pip install mysqlclient

Requirement already satisfied: mysqlclient in c:\users\asus\anaconda3\lib\site-packages (2.1.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\asus\anaconda3\lib\site-packages (1.4.7)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: greenlet!=0.4.17 in c:\users\asus\anaconda3\lib\site-packages (from sqlalchemy) (1.0.0)

In [3]:
from sqlalchemy import Column, Integer, String, and_, or_, text, ForeignKey, DECIMAL, Date, Text
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker, relationship, subqueryload, joinedload
from sqlalchemy.sql import func
from sqlalchemy.dialects.mysql import INTEGER, MEDIUMBLOB, MEDIUMTEXT, SMALLINT

# # Connect to Database

In [4]:
engine = create_engine('mysql://root@127.0.0.1/classicmodels', echo = True)

# # Declare Base Class

In [5]:
Base = declarative_base()
metadata = Base.metadata


class Office(Base):
    __tablename__ = 'offices'

    officeCode = Column(String(10), primary_key=True)
    city = Column(String(50), nullable=False)
    phone = Column(String(50), nullable=False)
    addressLine1 = Column(String(50), nullable=False)
    addressLine2 = Column(String(50))
    state = Column(String(50))
    country = Column(String(50), nullable=False)
    postalCode = Column(String(15), nullable=False)
    territory = Column(String(10), nullable=False)


class Productline(Base):
    __tablename__ = 'productlines'

    productLine = Column(String(50), primary_key=True)
    textDescription = Column(String(4000))
    htmlDescription = Column(MEDIUMTEXT)
    image = Column(MEDIUMBLOB)


class Employee(Base):
    __tablename__ = 'employees'

    employeeNumber = Column(INTEGER(11), primary_key=True)
    lastName = Column(String(50), nullable=False)
    firstName = Column(String(50), nullable=False)
    extension = Column(String(10), nullable=False)
    email = Column(String(100), nullable=False)
    officeCode = Column(ForeignKey('offices.officeCode'), nullable=False, index=True)
    reportsTo = Column(ForeignKey('employees.employeeNumber'), index=True)
    jobTitle = Column(String(50), nullable=False)

    office = relationship('Office')
    parent = relationship('Employee', remote_side=[employeeNumber])


class Product(Base):
    __tablename__ = 'products'

    productCode = Column(String(15), primary_key=True)
    productName = Column(String(70), nullable=False)
    productLine = Column(ForeignKey('productlines.productLine'), nullable=False, index=True)
    productScale = Column(String(10), nullable=False)
    productVendor = Column(String(50), nullable=False)
    productDescription = Column(Text, nullable=False)
    quantityInStock = Column(SMALLINT(6), nullable=False)
    buyPrice = Column(DECIMAL(10, 2), nullable=False)
    MSRP = Column(DECIMAL(10, 2), nullable=False)

    productline = relationship('Productline')


class Customer(Base):
    __tablename__ = 'customers'

    customerNumber = Column(INTEGER(11), primary_key=True)
    customerName = Column(String(50), nullable=False)
    contactLastName = Column(String(50), nullable=False)
    contactFirstName = Column(String(50), nullable=False)
    phone = Column(String(50), nullable=False)
    addressLine1 = Column(String(50), nullable=False)
    addressLine2 = Column(String(50))
    city = Column(String(50), nullable=False)
    state = Column(String(50))
    postalCode = Column(String(15))
    country = Column(String(50), nullable=False)
    salesRepEmployeeNumber = Column(ForeignKey('employees.employeeNumber'), index=True)
    creditLimit = Column(DECIMAL(10, 2))

    employee = relationship('Employee')


class Order(Base):
    __tablename__ = 'orders'

    orderNumber = Column(INTEGER(11), primary_key=True)
    orderDate = Column(Date, nullable=False)
    requiredDate = Column(Date, nullable=False)
    shippedDate = Column(Date)
    status = Column(String(15), nullable=False)
    comments = Column(Text)
    customerNumber = Column(ForeignKey('customers.customerNumber'), nullable=False, index=True)

    customer = relationship('Customer')


class Payment(Base):
    __tablename__ = 'payments'

    customerNumber = Column(ForeignKey('customers.customerNumber'), primary_key=True, nullable=False)
    checkNumber = Column(String(50), primary_key=True, nullable=False)
    paymentDate = Column(Date, nullable=False)
    amount = Column(DECIMAL(10, 2), nullable=False)

    customer = relationship('Customer')


class Orderdetail(Base):
    __tablename__ = 'orderdetails'

    orderNumber = Column(ForeignKey('orders.orderNumber'), primary_key=True, nullable=False)
    productCode = Column(ForeignKey('products.productCode'), primary_key=True, nullable=False, index=True)
    quantityOrdered = Column(INTEGER(11), nullable=False)
    priceEach = Column(DECIMAL(10, 2), nullable=False)
    orderLineNumber = Column(SMALLINT(6), nullable=False)

    order = relationship('Order')
    product = relationship('Product')
    
Base.metadata.create_all(engine)

2022-12-15 15:00:23,708 INFO sqlalchemy.engine.Engine SHOW VARIABLES LIKE 'sql_mode'
2022-12-15 15:00:23,709 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-15 15:00:23,734 INFO sqlalchemy.engine.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2022-12-15 15:00:23,735 INFO sqlalchemy.engine.Engine [generated in 0.00204s] ()
2022-12-15 15:00:23,739 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2022-12-15 15:00:23,740 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-15 15:00:23,746 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-15 15:00:23,749 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %s AND table_name = %s
2022-12-15 15:00:23,752 INFO sqlalchemy.engine.Engine [generated in 0.00438s] ('classicmodels', 'offices')
2022-12-15 15:00:23,765 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %s AND table_name = %s
2022-12-15 15:00:23,765 INFO sqlalchemy.engine.Engine [cached since 0.0172s ago] ('classicmodels', 'productlines')
2022-12-15 15:00:23,771 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %s AND table_name = %s
2022-12-15 15:00:23,773 INFO sqlalchemy.engine.Engine [cached since 0.02448s ago] ('classicmodels', 'employees')
2022-12-15 15:00:23,779 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %s AND table_name = %s
2022-12-15 15:00:23,780 INFO sqlalchemy.engine.Engine [cached since 0.03132s ago] ('classicmodels', 'products')
2022-12-15 15:00:23,781 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %s AND table_name = %s
2022-12-15 15:00:23,782 INFO sqlalchemy.engine.Engine [cached since 0.03388s ago] ('classicmodels', 'customers')
2022-12-15 15:00:23,787 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %s AND table_name = %s
2022-12-15 15:00:23,788 INFO sqlalchemy.engine.Engine [cached since 0.0401s ago] ('classicmodels', 'orders')
2022-12-15 15:00:23,791 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %s AND table_name = %s
2022-12-15 15:00:23,792 INFO sqlalchemy.engine.Engine [cached since 0.0439s ago] ('classicmodels', 'payments')
2022-12-15 15:00:23,794 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %s AND table_name = %s
2022-12-15 15:00:23,795 INFO sqlalchemy.engine.Engine [cached since 0.04677s ago] ('classicmodels', 'orderdetails')
2022-12-15 15:00:23,797 INFO sqlalchemy.engine.Engine COMMIT

# #Declare Session

In [6]:
Session = sessionmaker(bind = engine)
session = Session()

## 1. Prepare a list of offices sorted by country, state, city.

In [7]:
result = session.query(Office)

for row in result.order_by(Office.country,  Office.state, Office.city):
    print ("[Country]:",row.country, "[State]:",row.state, "[City]:",row.city)

2022-12-15 15:00:23,844 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-15 15:00:23,857 INFO sqlalchemy.engine.Engine SELECT offices.`officeCode` AS `offices_officeCode`, offices.city AS offices_city, offices.phone AS offices_phone, offices.`addressLine1` AS `offices_addressLine1`, offices.`addressLine2` AS `offices_addressLine2`, offices.state AS offices_state, offices.country AS offices_country, offices.`postalCode` AS `offices_postalCode`, offices.territory AS offices_territory
FROM offices ORDER BY offices.country, offices.state, offices.city
2022-12-15 15:00:23,863 INFO sqlalchemy.engine.Engine [generated in 0.00551s] ()
[Country]: Australia [State]: None [City]: Sydney
[Country]: France [State]: None [City]: Paris
[Country]: Japan [State]: Chiyoda-Ku [City]: Tokyo
[Country]: UK [State]: None [City]: London
[Country]: USA [State]: CA [City]: San Francisco
[Country]: USA [State]: MA [City]: Boston
[Country]: USA [State]: NY [City]: NYC

## 2. How many employees are there in the company?

In [8]:
result = session.query(Employee).count()

print ("Employees in the company is :", result)

2022-12-15 15:00:23,911 INFO sqlalchemy.engine.Engine SELECT count(*) AS count_1
FROM (SELECT employees.`employeeNumber` AS `employees_employeeNumber`, employees.`lastName` AS `employees_lastName`, employees.`firstName` AS `employees_firstName`, employees.extension AS employees_extension, employees.email AS employees_email, employees.`officeCode` AS `employees_officeCode`, employees.`reportsTo` AS `employees_reportsTo`, employees.`jobTitle` AS `employees_jobTitle`
FROM employees) AS anon_1
2022-12-15 15:00:23,914 INFO sqlalchemy.engine.Engine [generated in 0.00344s] ()
Employees in the company is : 23

## 3. What is the total of payments received

In [9]:
result = session.query(func.sum(Payment.amount))

for row in result.all():
    print("Total of Payments Received is :", row[0])

2022-12-15 15:00:23,940 INFO sqlalchemy.engine.Engine SELECT sum(payments.amount) AS sum_1
FROM payments
2022-12-15 15:00:23,941 INFO sqlalchemy.engine.Engine [generated in 0.00109s] ()
Total of Payments Received is : 8853839.23

## 4. List the product lines that contain 'Cars'.

In [10]:
result = session.query(Productline).filter(Productline.productLine.like('%Cars%'))

for row in result:
   print ("[Product Line]:",row.productLine)

2022-12-15 15:00:23,970 INFO sqlalchemy.engine.Engine SELECT productlines.`productLine` AS `productlines_productLine`, productlines.`textDescription` AS `productlines_textDescription`, productlines.`htmlDescription` AS `productlines_htmlDescription`, productlines.image AS productlines_image
FROM productlines
WHERE productlines.`productLine` LIKE %s
2022-12-15 15:00:23,972 INFO sqlalchemy.engine.Engine [generated in 0.00326s] ('%Cars%',)
[Product Line]: Classic Cars
[Product Line]: Vintage Cars

## 5. Report total payments for October 28, 2004.

In [11]:
result = session.query(Payment).filter_by(paymentDate='2004-10-28')

for row in result:
    print("Total Payments for October 28, 2004 : ",row.amount)

2022-12-15 15:00:24,000 INFO sqlalchemy.engine.Engine SELECT payments.`customerNumber` AS `payments_customerNumber`, payments.`checkNumber` AS `payments_checkNumber`, payments.`paymentDate` AS `payments_paymentDate`, payments.amount AS payments_amount
FROM payments
WHERE payments.`paymentDate` = %s
2022-12-15 15:00:24,002 INFO sqlalchemy.engine.Engine [generated in 0.00301s] ('2004-10-28',)
Total Payments for October 28, 2004 :  47411.33

## 6. Report those payments greater than 100.000.

In [12]:
result = session.query(Payment).filter(Payment.amount > 100000)

for row in result:
   print ("[Customer Number]:",row.customerNumber,"[Check Number]:",row.checkNumber,"[Payment Date]:",row.paymentDate,"[Amount]:",row.amount)

2022-12-15 15:00:24,032 INFO sqlalchemy.engine.Engine SELECT payments.`customerNumber` AS `payments_customerNumber`, payments.`checkNumber` AS `payments_checkNumber`, payments.`paymentDate` AS `payments_paymentDate`, payments.amount AS payments_amount
FROM payments
WHERE payments.amount > %s
2022-12-15 15:00:24,035 INFO sqlalchemy.engine.Engine [generated in 0.00332s] (100000,)
[Customer Number]: 124 [Check Number]: AE215433 [Payment Date]: 2005-03-05 [Amount]: 101244.59
[Customer Number]: 124 [Check Number]: KI131716 [Payment Date]: 2003-08-15 [Amount]: 111654.40
[Customer Number]: 141 [Check Number]: ID10962 [Payment Date]: 2004-12-31 [Amount]: 116208.40
[Customer Number]: 141 [Check Number]: JE105477 [Payment Date]: 2005-03-18 [Amount]: 120166.58
[Customer Number]: 148 [Check Number]: KM172879 [Payment Date]: 2003-12-26 [Amount]: 105743.00

## 7. List the products in each product line.

In [13]:
result = session.query(Product).group_by(Product.productLine, Product.productName)

for row in result :
    print("[Product Name]:", row.productName, "[Product Line]:", row.productLine)

2022-12-15 15:00:24,061 INFO sqlalchemy.engine.Engine SELECT products.`productCode` AS `products_productCode`, products.`productName` AS `products_productName`, products.`productLine` AS `products_productLine`, products.`productScale` AS `products_productScale`, products.`productVendor` AS `products_productVendor`, products.`productDescription` AS `products_productDescription`, products.`quantityInStock` AS `products_quantityInStock`, products.`buyPrice` AS `products_buyPrice`, products.`MSRP` AS `products_MSRP`
FROM products GROUP BY products.`productLine`, products.`productName`
2022-12-15 15:00:24,062 INFO sqlalchemy.engine.Engine [generated in 0.00111s] ()
[Product Name]: 1948 Porsche 356-A Roadster [Product Line]: Classic Cars
[Product Name]: 1948 Porsche Type 356 Roadster [Product Line]: Classic Cars
[Product Name]: 1949 Jaguar XK 120 [Product Line]: Classic Cars
[Product Name]: 1952 Alpine Renault 1300 [Product Line]: Classic Cars
[Product Name]: 1952 Citroen-15CV [Product Line]: Classic Cars
[Product Name]: 1956 Porsche 356A Coupe [Product Line]: Classic Cars
[Product Name]: 1957 Corvette Convertible [Product Line]: Classic Cars
[Product Name]: 1957 Ford Thunderbird [Product Line]: Classic Cars
[Product Name]: 1958 Chevy Corvette Limited Edition [Product Line]: Classic Cars
[Product Name]: 1961 Chevrolet Impala [Product Line]: Classic Cars
[Product Name]: 1962 LanciaA Delta 16V [Product Line]: Classic Cars
[Product Name]: 1965 Aston Martin DB5 [Product Line]: Classic Cars
[Product Name]: 1966 Shelby Cobra 427 S/C [Product Line]: Classic Cars
[Product Name]: 1968 Dodge Charger [Product Line]: Classic Cars
[Product Name]: 1968 Ford Mustang [Product Line]: Classic Cars
[Product Name]: 1969 Chevrolet Camaro Z28 [Product Line]: Classic Cars
[Product Name]: 1969 Corvair Monza [Product Line]: Classic Cars
[Product Name]: 1969 Dodge Charger [Product Line]: Classic Cars
[Product Name]: 1969 Dodge Super Bee [Product Line]: Classic Cars
[Product Name]: 1969 Ford Falcon [Product Line]: Classic Cars
[Product Name]: 1970 Chevy Chevelle SS 454 [Product Line]: Classic Cars
[Product Name]: 1970 Dodge Coronet [Product Line]: Classic Cars
[Product Name]: 1970 Plymouth Hemi Cuda [Product Line]: Classic Cars
[Product Name]: 1970 Triumph Spitfire [Product Line]: Classic Cars
[Product Name]: 1971 Alpine Renault 1600s [Product Line]: Classic Cars
[Product Name]: 1972 Alfa Romeo GTA [Product Line]: Classic Cars
[Product Name]: 1976 Ford Gran Torino [Product Line]: Classic Cars
[Product Name]: 1982 Camaro Z28 [Product Line]: Classic Cars
[Product Name]: 1982 Lamborghini Diablo [Product Line]: Classic Cars
[Product Name]: 1985 Toyota Supra [Product Line]: Classic Cars
[Product Name]: 1992 Ferrari 360 Spider red [Product Line]: Classic Cars
[Product Name]: 1992 Porsche Cayenne Turbo Silver [Product Line]: Classic Cars
[Product Name]: 1993 Mazda RX-7 [Product Line]: Classic Cars
[Product Name]: 1995 Honda Civic [Product Line]: Classic Cars
[Product Name]: 1998 Chrysler Plymouth Prowler [Product Line]: Classic Cars
[Product Name]: 1999 Indy 500 Monte Carlo SS [Product Line]: Classic Cars
[Product Name]: 2001 Ferrari Enzo [Product Line]: Classic Cars
[Product Name]: 2002 Chevy Corvette [Product Line]: Classic Cars
[Product Name]: 1936 Harley Davidson El Knucklehead [Product Line]: Motorcycles
[Product Name]: 1957 Vespa GS150 [Product Line]: Motorcycles
[Product Name]: 1960 BSA Gold Star DBD34 [Product Line]: Motorcycles
[Product Name]: 1969 Harley Davidson Ultimate Chopper [Product Line]: Motorcycles
[Product Name]: 1974 Ducati 350 Mk3 Desmo [Product Line]: Motorcycles
[Product Name]: 1982 Ducati 900 Monster [Product Line]: Motorcycles
[Product Name]: 1982 Ducati 996 R [Product Line]: Motorcycles
[Product Name]: 1996 Moto Guzzi 1100i [Product Line]: Motorcycles
[Product Name]: 1997 BMW F650 ST [Product Line]: Motorcycles
[Product Name]: 1997 BMW R 1100 S [Product Line]: Motorcycles
[Product Name]: 2002 Suzuki XREO [Product Line]: Motorcycles
[Product Name]: 2002 Yamaha YZR M1 [Product Line]: Motorcycles
[Product Name]: 2003 Harley-Davidson Eagle Drag Bike [Product Line]: Motorcycles
[Product Name]: 1900s Vintage Bi-Plane [Product Line]: Planes
[Product Name]: 1900s Vintage Tri-Plane [Product Line]: Planes
[Product Name]: 1928 British Royal Navy Airplane [Product Line]: Planes
[Product Name]: 1980s Black Hawk Helicopter [Product Line]: Planes
[Product Name]: America West Airlines B757-200 [Product Line]: Planes
[Product Name]: American Airlines: B767-300 [Product Line]: Planes
[Product Name]: American Airlines: MD-11S [Product Line]: Planes
[Product Name]: ATA: B757-300 [Product Line]: Planes
[Product Name]: Boeing X-32A JSF [Product Line]: Planes
[Product Name]: Corsair F4U ( Bird Cage) [Product Line]: Planes
[Product Name]: F/A 18 Hornet 1/72 [Product Line]: Planes
[Product Name]: P-51-D Mustang [Product Line]: Planes
[Product Name]: 18th century schooner [Product Line]: Ships
[Product Name]: 1999 Yamaha Speed Boat [Product Line]: Ships
[Product Name]: HMS Bounty [Product Line]: Ships
[Product Name]: Pont Yacht [Product Line]: Ships
[Product Name]: The Mayflower [Product Line]: Ships
[Product Name]: The Queen Mary [Product Line]: Ships
[Product Name]: The Schooner Bluenose [Product Line]: Ships
[Product Name]: The Titanic [Product Line]: Ships
[Product Name]: The USS Constitution Ship [Product Line]: Ships
[Product Name]: 1950's Chicago Surface Lines Streetcar [Product Line]: Trains
[Product Name]: 1962 City of Detroit Streetcar [Product Line]: Trains
[Product Name]: Collectable Wooden Train [Product Line]: Trains
[Product Name]: 1926 Ford Fire Engine [Product Line]: Trucks and Buses
[Product Name]: 1940 Ford Pickup Truck [Product Line]: Trucks and Buses
[Product Name]: 1940s Ford truck [Product Line]: Trucks and Buses
[Product Name]: 1954 Greyhound Scenicruiser [Product Line]: Trucks and Buses
[Product Name]: 1957 Chevy Pickup [Product Line]: Trucks and Buses
[Product Name]: 1958 Setra Bus [Product Line]: Trucks and Buses
[Product Name]: 1962 Volkswagen Microbus [Product Line]: Trucks and Buses
[Product Name]: 1964 Mercedes Tour Bus [Product Line]: Trucks and Buses
[Product Name]: 1980’s GM Manhattan Express [Product Line]: Trucks and Buses
[Product Name]: 1996 Peterbilt 379 Stake Bed with Outrigger [Product Line]: Trucks and Buses
[Product Name]: Diamond T620 Semi-Skirted Tanker [Product Line]: Trucks and Buses
[Product Name]: 18th Century Vintage Horse Carriage [Product Line]: Vintage Cars
[Product Name]: 1903 Ford Model A [Product Line]: Vintage Cars
[Product Name]: 1904 Buick Runabout [Product Line]: Vintage Cars
[Product Name]: 1911 Ford Town Car [Product Line]: Vintage Cars
[Product Name]: 1912 Ford Model T Delivery Wagon [Product Line]: Vintage Cars
[Product Name]: 1913 Ford Model T Speedster [Product Line]: Vintage Cars
[Product Name]: 1917 Grand Touring Sedan [Product Line]: Vintage Cars
[Product Name]: 1917 Maxwell Touring Car [Product Line]: Vintage Cars
[Product Name]: 1928 Ford Phaeton Deluxe [Product Line]: Vintage Cars
[Product Name]: 1928 Mercedes-Benz SSK [Product Line]: Vintage Cars
[Product Name]: 1930 Buick Marquette Phaeton [Product Line]: Vintage Cars
[Product Name]: 1932 Alfa Romeo 8C2300 Spider Sport [Product Line]: Vintage Cars
[Product Name]: 1932 Model A Ford J-Coupe [Product Line]: Vintage Cars
[Product Name]: 1934 Ford V8 Coupe [Product Line]: Vintage Cars
[Product Name]: 1936 Chrysler Airflow [Product Line]: Vintage Cars
[Product Name]: 1936 Mercedes Benz 500k Roadster [Product Line]: Vintage Cars
[Product Name]: 1936 Mercedes-Benz 500K Special Roadster [Product Line]: Vintage Cars
[Product Name]: 1937 Horch 930V Limousine [Product Line]: Vintage Cars
[Product Name]: 1937 Lincoln Berline [Product Line]: Vintage Cars
[Product Name]: 1938 Cadillac V-16 Presidential Limousine [Product Line]: Vintage Cars
[Product Name]: 1939 Cadillac Limousine [Product Line]: Vintage Cars
[Product Name]: 1939 Chevrolet Deluxe Coupe [Product Line]: Vintage Cars
[Product Name]: 1940 Ford Delivery Sedan [Product Line]: Vintage Cars
[Product Name]: 1941 Chevrolet Special Deluxe Cabriolet [Product Line]: Vintage Cars

## 8. How many products in each product line?

In [14]:
result = session.query(Product.productLine,func.count(Product.productLine)).group_by(Product.productLine)

for row in result:
    print(row)

2022-12-15 15:00:24,122 INFO sqlalchemy.engine.Engine SELECT products.`productLine` AS `products_productLine`, count(products.`productLine`) AS count_1
FROM products GROUP BY products.`productLine`
2022-12-15 15:00:24,124 INFO sqlalchemy.engine.Engine [generated in 0.00175s] ()
('Classic Cars', 38)
('Motorcycles', 13)
('Planes', 12)
('Ships', 9)
('Trains', 3)
('Trucks and Buses', 11)
('Vintage Cars', 24)

## 9. What is the minimum payment received?

In [15]:
result = session.query(func.min(Payment.amount))

for row in result:
    print("Minimum Payment Received: ", row[0])

2022-12-15 15:00:24,137 INFO sqlalchemy.engine.Engine SELECT min(payments.amount) AS min_1
FROM payments
2022-12-15 15:00:24,138 INFO sqlalchemy.engine.Engine [generated in 0.00127s] ()
Minimum Payment Received:  615.45

## 10. List all payments greater than twice the average payment.

In [16]:
result = session.query(func.round(func.avg(Payment.amount)*2))
all_payment = session.query(Payment).filter(Payment.amount >= result)

for row in all_payment:
    print("[Customer Number]:",row.customerNumber,"[Payment]:",row.amount)

2022-12-15 15:00:24,180 INFO sqlalchemy.engine.Engine SELECT payments.`customerNumber` AS `payments_customerNumber`, payments.`checkNumber` AS `payments_checkNumber`, payments.`paymentDate` AS `payments_paymentDate`, payments.amount AS payments_amount
FROM payments
WHERE payments.amount >= (SELECT round(avg(payments.amount) * %s) AS round_1
FROM payments)
2022-12-15 15:00:24,181 INFO sqlalchemy.engine.Engine [generated in 0.00099s] (2,)
[Customer Number]: 114 [Payment]: 82261.22
[Customer Number]: 124 [Payment]: 101244.59
[Customer Number]: 124 [Payment]: 85410.87
[Customer Number]: 124 [Payment]: 83598.04
[Customer Number]: 124 [Payment]: 111654.40
[Customer Number]: 141 [Payment]: 116208.40
[Customer Number]: 141 [Payment]: 65071.26
[Customer Number]: 141 [Payment]: 120166.58
[Customer Number]: 148 [Payment]: 105743.00
[Customer Number]: 167 [Payment]: 85024.46
[Customer Number]: 239 [Payment]: 80375.24
[Customer Number]: 321 [Payment]: 85559.12
[Customer Number]: 323 [Payment]: 75020.13

C:\Users\ASUS\anaconda3\lib\site-packages\sqlalchemy\sql\coercions.py:307: SAWarning: implicitly coercing SELECT object to scalar subquery; please use the .scalar_subquery() method to produce a scalar subquery.
  util.warn(

## 11. What is the average percentage markup of the MSRP on buyPrice?

In [17]:
result = session.query(func.avg((Product.MSRP - Product.buyPrice)/Product.buyPrice *100)).scalar()

print("Average Percentage Markup of the MSRP on buy Price:", result)

2022-12-15 15:00:24,213 INFO sqlalchemy.engine.Engine SELECT avg(((products.`MSRP` - products.`buyPrice`) / products.`buyPrice`) * %s) AS avg_1
FROM products
2022-12-15 15:00:24,223 INFO sqlalchemy.engine.Engine [generated in 0.01034s] (100,)
Average Percentage Markup of the MSRP on buy Price: 88.7023921713

## 12. How many distinct products does ClassicModels sell?

In [18]:
result = session.query(Product).distinct().count()

print("Classic Models sell",result)

2022-12-15 15:00:24,244 INFO sqlalchemy.engine.Engine SELECT count(*) AS count_1
FROM (SELECT DISTINCT products.`productCode` AS `products_productCode`, products.`productName` AS `products_productName`, products.`productLine` AS `products_productLine`, products.`productScale` AS `products_productScale`, products.`productVendor` AS `products_productVendor`, products.`productDescription` AS `products_productDescription`, products.`quantityInStock` AS `products_quantityInStock`, products.`buyPrice` AS `products_buyPrice`, products.`MSRP` AS `products_MSRP`
FROM products) AS anon_1
2022-12-15 15:00:24,246 INFO sqlalchemy.engine.Engine [generated in 0.00194s] ()
Classic Models sell 110

## 13. Report the name and city of customers who don't have sales representatives?

In [19]:
result = session.query(Customer).filter(Customer.salesRepEmployeeNumber.is_(None)).order_by(Customer.customerName)

for row in result:
    print("[Costumer Name]:",row.customerName, "[Costumer City]: ",row.city)

2022-12-15 15:00:24,279 INFO sqlalchemy.engine.Engine SELECT customers.`customerNumber` AS `customers_customerNumber`, customers.`customerName` AS `customers_customerName`, customers.`contactLastName` AS `customers_contactLastName`, customers.`contactFirstName` AS `customers_contactFirstName`, customers.phone AS customers_phone, customers.`addressLine1` AS `customers_addressLine1`, customers.`addressLine2` AS `customers_addressLine2`, customers.city AS customers_city, customers.state AS customers_state, customers.`postalCode` AS `customers_postalCode`, customers.country AS customers_country, customers.`salesRepEmployeeNumber` AS `customers_salesRepEmployeeNumber`, customers.`creditLimit` AS `customers_creditLimit`
FROM customers
WHERE customers.`salesRepEmployeeNumber` IS NULL ORDER BY customers.`customerName`
2022-12-15 15:00:24,281 INFO sqlalchemy.engine.Engine [generated in 0.00225s] ()
[Costumer Name]: ANG Resellers [Costumer City]:  Madrid
[Costumer Name]: Anton Designs, Ltd. [Costumer City]:  Madrid
[Costumer Name]: Asian Shopping Network, Co [Costumer City]:  Singapore
[Costumer Name]: Asian Treasures, Inc. [Costumer City]:  Cork
[Costumer Name]: BG&E Collectables [Costumer City]:  Fribourg
[Costumer Name]: Cramer Spezialitäten, Ltd [Costumer City]:  Brandenburg
[Costumer Name]: Der Hund Imports [Costumer City]:  Berlin
[Costumer Name]: Feuer Online Stores, Inc [Costumer City]:  Leipzig
[Costumer Name]: Franken Gifts, Co [Costumer City]:  München
[Costumer Name]: Havel & Zbyszek Co [Costumer City]:  Warszawa
[Costumer Name]: Kommission Auto [Costumer City]:  Münster
[Costumer Name]: Kremlin Collectables, Co. [Costumer City]:  Saint Petersburg
[Costumer Name]: Lisboa Souveniers, Inc [Costumer City]:  Lisboa
[Costumer Name]: Messner Shopping Network [Costumer City]:  Frankfurt
[Costumer Name]: Mit Vergnügen & Co. [Costumer City]:  Mannheim
[Costumer Name]: Natürlich Autos [Costumer City]:  Cunewalde
[Costumer Name]: Porto Imports Co. [Costumer City]:  Lisboa
[Costumer Name]: Raanan Stores, Inc [Costumer City]:  Herzlia
[Costumer Name]: SAR Distributors, Co [Costumer City]:  Hatfield
[Costumer Name]: Schuyler Imports [Costumer City]:  Amsterdam
[Costumer Name]: Stuttgart Collectable Exchange [Costumer City]:  Stuttgart
[Costumer Name]: Warburg Exchange [Costumer City]:  Aachen

## 14. What are the names of executives with VP or Manager in their title? Use the CONCAT function to combine the employee's first name and last name into a single field for reporting

In [20]:
result = session.query(func.concat(Employee.firstName," " ,Employee.lastName), Employee.jobTitle).filter(
    or_(Employee.jobTitle.contains('VP'), Employee.jobTitle.contains('Manager')))

for row in result:
    print(row)

2022-12-15 15:00:24,312 INFO sqlalchemy.engine.Engine SELECT concat(employees.`firstName`, %s, employees.`lastName`) AS concat_1, employees.`jobTitle` AS `employees_jobTitle`
FROM employees
WHERE (employees.`jobTitle` LIKE concat(concat('%%', %s), '%%')) OR (employees.`jobTitle` LIKE concat(concat('%%', %s), '%%'))
2022-12-15 15:00:24,313 INFO sqlalchemy.engine.Engine [generated in 0.00114s] (' ', 'VP', 'Manager')
('Mary Patterson', 'VP Sales')
('Jeff Firrelli', 'VP Marketing')
('William Patterson', 'Sales Manager (APAC)')
('Gerard Bondur', 'Sale Manager (EMEA)')
('Anthony Bow', 'Sales Manager (NA)')

## 15. Which orders have a value greater thanh 5000?

In [21]:
result = session.query(Orderdetail).filter(Orderdetail.quantityOrdered*Orderdetail.priceEach > 5000)

for row in result:
    print("[Order Number]:", row.orderNumber)

2022-12-15 15:00:24,339 INFO sqlalchemy.engine.Engine SELECT orderdetails.`orderNumber` AS `orderdetails_orderNumber`, orderdetails.`productCode` AS `orderdetails_productCode`, orderdetails.`quantityOrdered` AS `orderdetails_quantityOrdered`, orderdetails.`priceEach` AS `orderdetails_priceEach`, orderdetails.`orderLineNumber` AS `orderdetails_orderLineNumber`
FROM orderdetails
WHERE orderdetails.`quantityOrdered` * orderdetails.`priceEach` > %s
2022-12-15 15:00:24,341 INFO sqlalchemy.engine.Engine [generated in 0.00159s] (5000,)
[Order Number]: 10103
[Order Number]: 10103
[Order Number]: 10105
[Order Number]: 10105
[Order Number]: 10105
[Order Number]: 10108
[Order Number]: 10108
[Order Number]: 10108
[Order Number]: 10109
[Order Number]: 10109
[Order Number]: 10109
[Order Number]: 10110
[Order Number]: 10110
[Order Number]: 10110
[Order Number]: 10112
[Order Number]: 10114
[Order Number]: 10115
[Order Number]: 10115
[Order Number]: 10117
[Order Number]: 10117
[Order Number]: 10117
[Order Number]: 10119
[Order Number]: 10119
[Order Number]: 10120
[Order Number]: 10121
[Order Number]: 10122
[Order Number]: 10122
[Order Number]: 10123
[Order Number]: 10126
[Order Number]: 10126
[Order Number]: 10127
[Order Number]: 10127
[Order Number]: 10127
[Order Number]: 10127
[Order Number]: 10127
[Order Number]: 10127
[Order Number]: 10129
[Order Number]: 10134
[Order Number]: 10135
[Order Number]: 10135
[Order Number]: 10135
[Order Number]: 10135
[Order Number]: 10136
[Order Number]: 10137
[Order Number]: 10139
[Order Number]: 10140
[Order Number]: 10140
[Order Number]: 10141
[Order Number]: 10142
[Order Number]: 10142
[Order Number]: 10142
[Order Number]: 10143
[Order Number]: 10145
[Order Number]: 10145
[Order Number]: 10147
[Order Number]: 10148
[Order Number]: 10149
[Order Number]: 10150
[Order Number]: 10150
[Order Number]: 10151
[Order Number]: 10151
[Order Number]: 10153
[Order Number]: 10153
[Order Number]: 10155
[Order Number]: 10157
[Order Number]: 10159
[Order Number]: 10161
[Order Number]: 10162
[Order Number]: 10164
[Order Number]: 10165
[Order Number]: 10165
[Order Number]: 10165
[Order Number]: 10165
[Order Number]: 10165
[Order Number]: 10166
[Order Number]: 10167
[Order Number]: 10167
[Order Number]: 10168
[Order Number]: 10170
[Order Number]: 10171
[Order Number]: 10172
[Order Number]: 10174
[Order Number]: 10174
[Order Number]: 10176
[Order Number]: 10176
[Order Number]: 10176
[Order Number]: 10176
[Order Number]: 10177
[Order Number]: 10178
[Order Number]: 10178
[Order Number]: 10180
[Order Number]: 10180
[Order Number]: 10180
[Order Number]: 10181
[Order Number]: 10181
[Order Number]: 10181
[Order Number]: 10181
[Order Number]: 10182
[Order Number]: 10184
[Order Number]: 10184
[Order Number]: 10184
[Order Number]: 10185
[Order Number]: 10188
[Order Number]: 10192
[Order Number]: 10192
[Order Number]: 10192
[Order Number]: 10193
[Order Number]: 10194
[Order Number]: 10194
[Order Number]: 10195
[Order Number]: 10195
[Order Number]: 10196
[Order Number]: 10196
[Order Number]: 10196
[Order Number]: 10197
[Order Number]: 10198
[Order Number]: 10201
[Order Number]: 10202
[Order Number]: 10203
[Order Number]: 10203
[Order Number]: 10203
[Order Number]: 10204
[Order Number]: 10204
[Order Number]: 10204
[Order Number]: 10205
[Order Number]: 10206
[Order Number]: 10207
[Order Number]: 10207
[Order Number]: 10207
[Order Number]: 10207
[Order Number]: 10208
[Order Number]: 10209
[Order Number]: 10210
[Order Number]: 10211
[Order Number]: 10211
[Order Number]: 10212
[Order Number]: 10212
[Order Number]: 10212
[Order Number]: 10212
[Order Number]: 10214
[Order Number]: 10215
[Order Number]: 10216
[Order Number]: 10217
[Order Number]: 10218
[Order Number]: 10219
[Order Number]: 10220
[Order Number]: 10220
[Order Number]: 10221
[Order Number]: 10222
[Order Number]: 10222
[Order Number]: 10223
[Order Number]: 10223
[Order Number]: 10224
[Order Number]: 10225
[Order Number]: 10225
[Order Number]: 10226
[Order Number]: 10227
[Order Number]: 10228
[Order Number]: 10229
[Order Number]: 10229
[Order Number]: 10230
[Order Number]: 10230
[Order Number]: 10230
[Order Number]: 10231
[Order Number]: 10231
[Order Number]: 10232
[Order Number]: 10234
[Order Number]: 10234
[Order Number]: 10237
[Order Number]: 10238
[Order Number]: 10238
[Order Number]: 10239
[Order Number]: 10240
[Order Number]: 10240
[Order Number]: 10241
[Order Number]: 10241
[Order Number]: 10243
[Order Number]: 10244
[Order Number]: 10245
[Order Number]: 10246
[Order Number]: 10246
[Order Number]: 10247
[Order Number]: 10247
[Order Number]: 10248
[Order Number]: 10250
[Order Number]: 10251
[Order Number]: 10251
[Order Number]: 10251
[Order Number]: 10251
[Order Number]: 10252
[Order Number]: 10253
[Order Number]: 10254
[Order Number]: 10258
[Order Number]: 10258
[Order Number]: 10259
[Order Number]: 10259
[Order Number]: 10260
[Order Number]: 10260
[Order Number]: 10262
[Order Number]: 10263
[Order Number]: 10263
[Order Number]: 10263
[Order Number]: 10265
[Order Number]: 10266
[Order Number]: 10266
[Order Number]: 10268
[Order Number]: 10268
[Order Number]: 10268
[Order Number]: 10271
[Order Number]: 10271
[Order Number]: 10271
[Order Number]: 10272
[Order Number]: 10272
[Order Number]: 10273
[Order Number]: 10274
[Order Number]: 10275
[Order Number]: 10276
[Order Number]: 10276
[Order Number]: 10276
[Order Number]: 10278
[Order Number]: 10279
[Order Number]: 10280
[Order Number]: 10281
[Order Number]: 10281
[Order Number]: 10282
[Order Number]: 10282
[Order Number]: 10284
[Order Number]: 10285
[Order Number]: 10285
[Order Number]: 10287
[Order Number]: 10287
[Order Number]: 10287
[Order Number]: 10288
[Order Number]: 10288
[Order Number]: 10289
[Order Number]: 10291
[Order Number]: 10291
[Order Number]: 10291
[Order Number]: 10292
[Order Number]: 10293
[Order Number]: 10293
[Order Number]: 10296
[Order Number]: 10299
[Order Number]: 10299
[Order Number]: 10300
[Order Number]: 10301
[Order Number]: 10301
[Order Number]: 10301
[Order Number]: 10302
[Order Number]: 10304
[Order Number]: 10305
[Order Number]: 10306
[Order Number]: 10307
[Order Number]: 10310
[Order Number]: 10310
[Order Number]: 10310
[Order Number]: 10310
[Order Number]: 10310
[Order Number]: 10312
[Order Number]: 10312
[Order Number]: 10313
[Order Number]: 10314
[Order Number]: 10314
[Order Number]: 10314
[Order Number]: 10314
[Order Number]: 10318
[Order Number]: 10318
[Order Number]: 10319
[Order Number]: 10320
[Order Number]: 10321
[Order Number]: 10321
[Order Number]: 10321
[Order Number]: 10322
[Order Number]: 10322
[Order Number]: 10322
[Order Number]: 10322
[Order Number]: 10324
[Order Number]: 10324
[Order Number]: 10325
[Order Number]: 10325
[Order Number]: 10325
[Order Number]: 10329
[Order Number]: 10329
[Order Number]: 10330
[Order Number]: 10330
[Order Number]: 10331
[Order Number]: 10331
[Order Number]: 10336
[Order Number]: 10336
[Order Number]: 10336
[Order Number]: 10336
[Order Number]: 10337
[Order Number]: 10338
[Order Number]: 10339
[Order Number]: 10340
[Order Number]: 10341
[Order Number]: 10341
[Order Number]: 10341
[Order Number]: 10342
[Order Number]: 10342
[Order Number]: 10343
[Order Number]: 10344
[Order Number]: 10347
[Order Number]: 10347
[Order Number]: 10348
[Order Number]: 10348
[Order Number]: 10349
[Order Number]: 10349
[Order Number]: 10349
[Order Number]: 10350
[Order Number]: 10351
[Order Number]: 10354
[Order Number]: 10356
[Order Number]: 10357
[Order Number]: 10357
[Order Number]: 10357
[Order Number]: 10358
[Order Number]: 10358
[Order Number]: 10359
[Order Number]: 10359
[Order Number]: 10359
[Order Number]: 10360
[Order Number]: 10363
[Order Number]: 10366
[Order Number]: 10366
[Order Number]: 10367
[Order Number]: 10367
[Order Number]: 10367
[Order Number]: 10369
[Order Number]: 10370
[Order Number]: 10371
[Order Number]: 10371
[Order Number]: 10372
[Order Number]: 10372
[Order Number]: 10375
[Order Number]: 10375
[Order Number]: 10377
[Order Number]: 10377
[Order Number]: 10378
[Order Number]: 10378
[Order Number]: 10379
[Order Number]: 10381
[Order Number]: 10381
[Order Number]: 10381
[Order Number]: 10382
[Order Number]: 10382
[Order Number]: 10383
[Order Number]: 10383
[Order Number]: 10388
[Order Number]: 10388
[Order Number]: 10388
[Order Number]: 10389
[Order Number]: 10390
[Order Number]: 10390
[Order Number]: 10390
[Order Number]: 10393
[Order Number]: 10395
[Order Number]: 10396
[Order Number]: 10399
[Order Number]: 10399
[Order Number]: 10400
[Order Number]: 10400
[Order Number]: 10401
[Order Number]: 10401
[Order Number]: 10402
[Order Number]: 10403
[Order Number]: 10403
[Order Number]: 10403
[Order Number]: 10404
[Order Number]: 10404
[Order Number]: 10404
[Order Number]: 10404
[Order Number]: 10405
[Order Number]: 10405
[Order Number]: 10405
[Order Number]: 10406
[Order Number]: 10406
[Order Number]: 10406
[Order Number]: 10407
[Order Number]: 10407
[Order Number]: 10407
[Order Number]: 10407
[Order Number]: 10407
[Order Number]: 10410
[Order Number]: 10410
[Order Number]: 10412
[Order Number]: 10412
[Order Number]: 10412
[Order Number]: 10412
[Order Number]: 10412
[Order Number]: 10413
[Order Number]: 10413
[Order Number]: 10413
[Order Number]: 10414
[Order Number]: 10414
[Order Number]: 10417
[Order Number]: 10417
[Order Number]: 10417
[Order Number]: 10418
[Order Number]: 10419
[Order Number]: 10419
[Order Number]: 10419
[Order Number]: 10420
[Order Number]: 10420
[Order Number]: 10420
[Order Number]: 10421
[Order Number]: 10424
[Order Number]: 10424
[Order Number]: 10424
[Order Number]: 10425